/*-- nav bar extraida de bootstrap --*/
nav {
  background-color: #F8F4EB;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center; }

nav ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  justify-items: center; }

/*-- carousel extraido de bootstrap --*/
.carousel {
  padding-top: 76px; }

footer {
  background-color: #F8F4EB;
  list-style-position: inside;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "seccion-redes seccion-contacto" "copyright copyright";
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: flex-start;
  text-align: center;
  padding: 5px 1px 10px 5px; }
  footer p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-weight: strong; }

.seccion-redes ul li {
  list-style-type: none;
  list-style-position: inside;
  grid-area: "seccion-redes";
  padding-right: 25px; }

.seccion-contacto ul li {
  list-style-type: none;
  list-style-position: inside;
  grid-area: "seccion-contacto";
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  letter-spacing: 0.2px;
  padding-right: 25px; }

.copyright {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal; }

/* fuentes */
.text-main {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  text-decoration: none; }

.text-secondary {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-decoration: none; }

/* titulos de las paginas */
.title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  letter-spacing: 1px; }

/* fuente links */
a {
  color: #3F3F44;
  text-decoration: none; }

a:hover {
  color: #3F3F44;
  text-decoration: none; }

a:active {
  color: #3F3F44;
  text-decoration: none; }

/* contenido de las paginas */
.page-content {
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 8px 8px 8px 8px;
  text-align: center; }

/* formato del lema en index.html */
.lema {
  background-color: #F8F4EB;
  padding: 10px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px; }

/* formulario de contacto */
.mb-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: x-small;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px; }

.mb-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: x-small;
  margin-left: 10px;
  margin-right: 10px; }

.mb-3 {
  font-family: 'Montserrat', sans-serif;
  font-size: x-small;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px; }

/* MEDIA QUERIES PARA ADAPTAR CASILLEROS */
/* colores */
html {
  color: #3F3F44;
  background-color: white;
  justify-content: center;
  text-align: center; }

ul li {
  list-style: none;
  list-style-position: inherit;
  text-decoration: none; }
