/* formato casilleros de las paginas contacto.html y mayoristas.html */

.mb-1 {
    font-family: 'Montserrat', sans-serif;
    font-size: x-small;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.mb-2 {
    font-family: 'Montserrat', sans-serif;
    font-size: x-small;

    margin-left: 10px;
    margin-right: 10px;

}

.mb-3 {
    font-family: 'Montserrat', sans-serif;
    font-size: x-small;
    
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.mb-4 {
    font-family: 'Montserrat', sans-serif;
    font-size: x-small;
}

/* media querie para adaptar casilleros */ 
/* tablet */
@media (min-width: 728px) {
    .mb-1 {
        padding-left: 100px;
        padding-right: 100px;
    }

    .mb-2 {
        padding-left: 100px;
        padding-right: 100px;
    }

    .mb-3 {
        padding-left: 100px;
        padding-right: 100px;
    }

    .mb-4 {
        padding-left: 100px;
        padding-right: 100px;
    }
}
/* desktop */
@media (min-width: 1024px) {
    .mb-1 {
        padding-left: 100px;
        padding-right: 100px;
    }

    .mb-2 {
        padding-left: 100px;
        padding-right: 100px;
    }

    .mb-3 {
        padding-left: 100px;
        padding-right: 100px;
    }

    .mb-4 {
        padding-left: 100px;
        padding-right: 100px;
    }
}
