/* colores */
html {
    color: #3F3F44;
    background-color: white;

    justify-content: center;
    text-align: center;
}

ul li {
    list-style: none;
    list-style-position:inherit;
    
    text-decoration: none;
}
