/* formulario de contacto */

.mb-1 {
    font-family: 'Montserrat', sans-serif;
    font-size: x-small;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.mb-2 {
    font-family: 'Montserrat', sans-serif;
    font-size: x-small;

    margin-left: 10px;
    margin-right: 10px;

}

.mb-3 {
    font-family: 'Montserrat', sans-serif;
    font-size: x-small;
    
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* MEDIA QUERIES PARA ADAPTAR CASILLEROS */