#grilla-footer {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    grid-template-areas:
    "seccion-redes seccion-contacto";

    background-color: #F8F4EB;

    align-items: center;
    justify-content: center;

    p {
        font-family: 'Cormorant Garamond', serif;
        font-size: 15px;
    }
}

.seccion-redes {
    grid-area: "seccion-redes";

    padding-bottom: 10px;
    padding-left: 10px;

    ul {
        padding-right: 30px;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.seccion-contacto {
    grid-area: "seccion-contacto";

    padding-top: 15px;

    ul li {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;

        padding-right: 30px;
    }
}

/* -- adaptando tamaño de texto a otros dispositivos */

@media (min-width: 728px) {
    #grilla-footer {
        p {
            font-size: 18px;
        }
    }

    .seccion-contacto {
        ul li {
            font-size: 12px;
        }
    }
}

@media (min-width: 1024px) {
    #grilla-footer {
        p {
            font-size: 20px;
        }
    }

    .seccion-contacto {
        ul li {
            font-size: 14px;
        }
    }
}