/* fuentes */
.text-main {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    
    text-decoration: none; 
} 

.text-secondary {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    
    text-decoration: none;
}

/* titulos de las paginas */ 
.title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;

    letter-spacing: 1px;
}

/* fuente links */
a {
    color: #3F3F44;
    text-decoration: none;
} 

a:hover{
    color: #3F3F44;
    text-decoration: none;
}

a:active{
    color: #3F3F44;
    text-decoration: none;
}


