/* contenido de las paginas */
.page-content {
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 8px 8px 8px 8px;

    text-align: center;
}

/* media query adaptacion a tablet */ 
@media (min-width: 728px) {
    .page-content {
        padding-top: 120px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

/* media query adaptacion desktop */
@media (min-width: 1024px) {   
    .page-content {
        padding-top: 150px;
        padding-left: 250px;
        padding-right: 250px;
    } 
}