/* contenido de las paginas */
.page-content {
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 8px 8px 8px 8px;

    text-align: center;
}

/* formato del lema en index.html */
.lema {
    background-color: #F8F4EB;

    padding: 10px;

    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}


